.Home {
  padding: 1.58vw;
  background: #eeeeee 0% 0% no-repeat padding-box;
  /* width: 100%;
    height: 56.25vw; */
  /* height: 59.25vw; */
  width: fit-content;

}
.Container {
  padding-left: 1.9vw;
  padding-right: 0.9vw;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 3.95vw;
  margin-top: 1.56vw;
  align-self: flex-start;
  align-content: flex-start;

  
}
.CardContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0px;
  padding: 0;
  margin: 0;
}

.Reference {
  width: 19.63vw;
  height: 45vw;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 1.56vw;
  opacity: 1;
  padding: 2vw 1vw;
}



.Heading {
  text-align: center;
  font-size: 1.2vw;
  font-weight: bold;
  letter-spacing: 0.052vw;
  color: #313131;
  text-transform: uppercase;
  opacity: 1;
  margin-bottom: 2vw;
}
.SubHeading {
  text-align: center;
  font-size: 0.833vw;
  font-weight: normal;
  letter-spacing: 0px;
  color: #313131;
  opacity: 1;
  margin-bottom: 2vw;
}
.SubHeading span{
  font-weight: bold;
}
.Left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;margin: 0;
  align-self: flex-start
}

.test{
  margin-top: 1.5vw;
}

.ResultContainer {
  padding-left: 2.9vw;
  padding-right: 0.9vw;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 3.95vw;
  margin-top: 1.56vw;
  align-self: flex-start;
  align-content: flex-start;
  background-color:#ffffff ;
}