.Navbar {
  width: 96.82vw;
  height: 5.83vw;
  background: #0c0c18 0% 0% no-repeat padding-box;
  border-radius: 1.56vw;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.logo{
  width: 5.05vw;
  height:4.427vw ;
}
.logo img{
  width: 100%;
  height: 100%;
}
