.FlowChart {
  padding: 1.58vw;
  background: #eeeeee 0% 0% no-repeat padding-box;
  width: fit-content;
}
.Container {
  padding-left: 1.9vw;
  padding-right: 0.9vw;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 3vw;
  margin-top: 1.56vw;
  align-self: flex-start;
  align-content: flex-start;
}
.Left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 4vw;
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 0;
  align-self: center;
  background-color: #ffffff;
  height: 41vw;
  width: 60.98vw;
  border-radius: 1.56vw;
  /* margin-left: 4vw; */
}

.Reference {
  width: 15.46vw;
  height: 45vw;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 1.56vw;
  opacity: 1;
  padding-right: 4.16vw;
  padding-left: 4.16vw;
 
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

}

.BoxContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2.5vw;
}
.resultBoxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vw;
}
.tank {
  position: relative;
  margin-top: 8.16vw;
  margin-left: -2vw;
}
.tank .middle {
  width: 8.25vw;
  height: 4.16vw;
  background-color: #f2f7f9;
  position: absolute;
}

.tank .top {
  width: 8.25vw;
  height: 2.6vw;
  background-color: #ddeaf3;
  -moz-border-radius: 3.12vw / 1.302vw;
  -webkit-border-radius: 3.12vw / 1.302vw;
  border-radius: 5.12vw / 1.302vw;
  position: absolute;
  top: -1.302vw;
}

.tank .bottom {
  width: 8.25vw;
  height: 2.6vw;
  background-color: #f2f7f9;
  -moz-border-radius: 3.12vw / 1.302vw;
  -webkit-border-radius: 3.12vw / 1.302vw;
  border-radius: 5.12vw / 1.302vw;
  position: absolute;
  top: 2.86vw;
  box-shadow: 0px 0px 0.52vw rgb(0, 0, 0);
}
.resultBox {
  width: 11.3vw;
  height: 6.25vw;
  background: #ddeaf3 0% 0% no-repeat padding-box;
  border-radius: 0.78vw;
  opacity: 1;
  text-align: center;
  font-size: 0.833vw;
  font-weight: 600;
  letter-spacing: 0px;
  color: #050505;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Box {
  width: 7.81vw;
  height: 5.39vw;
  background: #0c0c18 0% 0% no-repeat padding-box;
  border-radius: 0.78vw;
  opacity: 1;
  text-align: center;
  font-size: 0.833vw;
  font-weight: 600;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.If {
  width: 11.3vw;
  height: 6.25vw;
  background: #0c0c18 0% 0% no-repeat padding-box;
  border-radius: 0.78vw;
  opacity: 1;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: capitalize;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4vw;
}
.Heading {
  letter-spacing: 0px;
  color: #313131;
  text-transform: uppercase;
  opacity: 1;
  display: flex;
  font-size: 1.04vw;
  font-weight: medium ;
  justify-content: center;
  align-items: center;

}
.Reference >.Heading{
  margin-top: 4vw;
  margin-bottom: 4vw;
}
.Left >.Heading{
  margin-bottom: 4vw;
}


.Diagram {
  height: 50vw;
}
